<form class="flexcol" autocomplete="off">
    <section>
        <header class="flex-header">
            <h1>
                Edit UnKenny NPC
            </h1>
        </header>
    </section>
    <section>
        <h2>
            Name
        </h2>

        <input type=" text" id='name' name="name" value="{{npc.name}}">

        <h2>
            Preamble
        </h2>

        <textarea id="preamble" name="preamble" rows="20">{{npc.preamble}}</textarea>

        <button type="submit">
            <i class="fa fa-check"></i>
            Save
        </button>
    </section>
</form>