<section>
    <header class="flex-header">
        <h1>
            Edit UnKenny NPC
        </h1>
    </header>
</section>
<section>
    <h2>
        Name
    </h2>

    <td><input type='text' id='nameInput' /></td>

    <h2>
        Preamble
    </h2>

    <textarea id="preambleInput" name="Preamble" rows="20"></textarea>

    <button type="button" class="save" title="Save" data-action="save">
        Save
    </button>
    <button type="button" class="cancel" title="Cancel" data-action="cancel">
        Cancel
    </button>
</section>