<section>
    <header class="flex-header">
        <h1>
            Speak with {{name}}
        </h1>
    </header>

    <textarea name="message" rows="20"></textarea>

    <button>
        <i class="fa fa-check"></i>
        Speak!
    </button>
</section>