<form class="flexcol" autocomplete="off">
    <section>
        <header class="flex-header">
            <h1>
                Edit UnKennyness Parameters
            </h1>
        </header>
    </section>
    <section>
        <h2>
            Preamble
        </h2>

        <textarea name="preamble" rows="20">{{preamble}}</textarea>

        <div class='form-field'>
            <label for='model'>Model</label>
            <select id='model' class='form-control'>
                {{#each models}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>

        <button type="submit">
            <i class="fa fa-check"></i>
            Save
        </button>
    </section>
</form>